__pycache__
rbm.npz
encoder.pt
/lightning_logs
.DS_Store
dataset/
*.egg-info
.pytest_cache
classifier.py
mnist/
synthetic_rbm.npz
synthetic_rbm_learning.svg
rbm_learning.svg
autoencoder_learning.svg
HyperBlood/
ares*/
experiments/
exp_13/LBAE/