__pycache__
rbm.npz
encoder.pt
/lightning_logs
.DS_Store
dataset/
*.egg-info
.pytest_cache
classifier.py
mnist/
synthetic_rbm.npz
synthetic_rbm_learning.svg
rbm_learning.svg
autoencoder_learning.svg
HyperBlood/
ares*/
experiments/
exp_13/
count_gini.py
train_one_autoenc.py
placeholder/
src/scripts/blood/check_dataset_seed.py
analiza.py
check_labels.py
kmeans_exp.py
plot_labels.py
sanity_check.py
previous_exp
compute_distance_matrix.py
model/
slurm/
job1.txt
jobs.txt
output.txt
veloxq_test.py
# Article txt
txt/RBM4MSIS-blx.bib
txt/RBM4MSIS.aux
txt/RBM4MSIS.bbl
txt/RBM4MSIS.blg
txt/RBM4MSIS.log
txt/RBM4MSIS.out
txt/RBM4MSIS.pdf
txt/RBM4MSIS.run.xml
txt/RBM4MSIS.synctex.gz
txt/RBM4MSIS.fdb_latexmk
txt/RBM4MSIS.fls
